extends ../layout

block content
  h1 Issue Asset to Employee

  form(method="POST", action="/transactions/issue")
    .form-group
      label(for="employee_id") Select Employee
      select.form-control(name="employee_id", id="employee_id", required)
        option(value="") -- Select Employee --
        each employee in employees
          option(value=employee.id)= employee.name

    .form-group
      label(for="assetId") Select Asset
      select.form-control(name="asset_id", id="asset_id", required)
        option(value="") -- Select Asset --
        each asset in assets
          option(value=asset.id)= asset.description


    .form-group
      label(for="remarks") Remarks
      textarea.form-control(name="reason", id="reason")

    .form-group
      label(for="transactionType") Transaction Type
      input(type="hidden", name="transactionType", value="issue")

    .form-group
      label(for="issueDate") Issue Date
      input.form-control(type="date", name="issueDate", id="issueDate", required)
      
    button.btn.btn-primary(type="submit") Issue Asset
